<div class="row">
  <div class="col-md-10 mx-auto">

    <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-info text-center" role="alert">
        <%=msg%>
      </div>
    <% }) %>

    <h2>Admin - Clientes</h2>

    <table class="table">
      <thead class="text-center">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Activo</th>
          <th>Activar/Desactivar</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% clientes.forEach( cliente => { %>
          <tr>
            <td><a href="/admin/clientes/<%=cliente.id%>"><%=cliente.id%></a></td>
            <td><%=cliente.nombre%></td>
            <td><%=cliente.email%></td>
            <td><%=cliente.activo ? "Si" : "No"%></td>
            <td>
              <% if (cliente.activo) { %>
                <a href="/admin/desactivar-cliente/<%=cliente.id%>" class="btn btn-info">Desactivar Cliente</a>
              <% } else { %>
                <a href="/admin/activar-cliente/<%=cliente.id%>" class="btn btn-primary">Activar Cliente</a>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</div>